{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block page_title%}
Manage Samples Request
{% endblock%}
{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-farm">
    New Request
</button>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">
            <div class="card">
                {%if requests %}
                <!-- ./ card-header -->
                <div class="card-header">
                    <h3 class="card-title">Sample</h3>
                </div>
                <!-- /.card-header -->
                <!-- ./card-body -->
                <div class="card-body">
                <!-- id="dataTables-example" class="table table-bordered table-hover" data-page-length='100' -->
                    <table id="dataTables-example" class="table table-striped" data-page-length='100'>
                        <thead>
                        <tr>
                            <th>Request No</th>
                            <th>Company</th>
                            <th>Request Date</th>
                            <th>Report date</th>
                            <th>Remarks</th>
                            <th>Representative</th>
                            <th>Action</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request in requests %}
                        <tr>
                            <td>{{request.reg_no}}</td>
                            <td>{{request.company}}</td>
                            <td>{{request.registration_date}}</td>
                            <td>{{request.report_date}}</td>
                            <td>{{request.remarks}}</td>
                            <td>{{request.representative}}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'manage_sample' request.id %}">
                                    Manage Samples
                                </a>
                            </td>
                            <td>
                                <a href="" style="color:inherit">
                                    <i class="fa fa-edit"></i>
                                </a> |
                                <a href="" style="color: inherit">
                                    <i class="fa fa-trash" onclick="return confirm('Do you want to delete {{Request_sample_view.id}}?')"></i>
                                </a>
                            <td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                {%else%}
                <div class="card-body">
                    <h4>No Data available</h4>
                </div>
                {%endif%}
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="modal fade" id="modal-add-farm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Request</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ request_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Confirm Submit -->
<div class="modal fade" id="modal-confirm-submit">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Submit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to submit this Wagesheet?
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Dismiss</button>
                <button type="submit" class="btn btn-success">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- DataTables -->
<!-- <script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script> -->

<!-- page script -->
<script>

//   $(function () {
//     $("#example1").DataTable({
//       "responsive": true,
//       "autoWidth": false,
//     });
//     $('#example2').DataTable({
//       "paging": true,
//       "lengthChange": false,
//       "searching": false,
//       "ordering": true,
//       "info": true,
//       "autoWidth": false,
//       "responsive": true,
//     });
//   });
// </script>
{% endblock content %}