{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%load humanize%}

{%block page_title%}
Manage Field Details
{% endblock%}

{% block right_button%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-inspection">
    New Inspection
</button>
{% endblock %}

    {% block content %}
    <div class="container-fluid">
        <!-- ./row -->
        <div class="row">
            <!-- ./col -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="text-center">{{company}}: <b>{{company.address}}</b></h3>
                        
                        <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                            <tbody>
                                <tr>
                                    <th>Inspection No. </th>
                                    <th>Date</th>
                                    <th>Inspector</th>
                                    <th>Recommendation</th>
                                    <th>Action</th>
                                    <th>#</th>

                                </tr>
                                
                                {% for inspection in inspections %}
                                <tr>
                                    <td>{{inspection.inspection_no}}</td>
                                    <td>{{inspection.inspection_date}}</td>
                                    <td>{{inspection.inspector}}</td>
                                    <td>{{inspection.recommendation}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="">
                                            Check List
                                        </a>
                                    </td>
                                    <td>
                                    
                                        <a href="" style="color:inherit">
                                            <i class="fa fa-edit"></i>
                                        </a> |
                                        <a href="" style="color: inherit">
                                            <i class="fa fa-trash" onclick="return Confirm('Do you want to delete this record?')"></i>
                                        </a>
                                    <td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>                

            </div>

        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->

    </div>
    <div class="modal fade" id="modal-add-inspection">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data"
                        action="">
                        {% csrf_token %}
                        {{ inspection_form|crispy }}
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.container-fluid -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    {% endblock content %}

</html>