<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
	<title>NPIS MIS</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Trendz Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->

	<section class="w3l-forms-23">
		<div class="forms23-block-hny">
			<div class="wrapper">
				<h1>National Petroleum Information System (NPIS)</h1>
				<!-- if logo is image enable this   
					<a class="logo" href="index.html">
					  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
					</a> 
				-->
				<div class="d-grid forms23-grids">
					<div class="form23">
						<div class="main-bg">
							<h6 class="sec-one">NPIS V 0.0.1</h6>
							<div class="speci-login first-look">
							
								<img src="{% static 'images/user.png'%}" alt="" class="img-responsive">
							</div>
						</div>
						<div class="bottom-content">
							<form action="login" method="POST">
							{% csrf_token %}

								<input type="text" name="username" class="input-form" placeholder="username"
										required="required" />
								<input type="password" name="password" class="input-form"
										placeholder="Your Password" required="required" />
								<button type="submit" class="loginhny-btn btn">Login</button>
							</form>
							<p>{% if messages %}
<ul class="message">
    {% for message in messages %}
    <li>
        <div class="alert alert-success">
            {{ message }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}</p>
						</div>
					</div>
				</div>
				<div class="w3l-copy-right text-center">
					<p>© 2021 NPIS Login Form. All rights reserved | Design by
						NPIS</p>
				</div>
			</div>
		</div>
	</section>
	<!-- //login-section -->
</body>

</html>