
{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%load humanize%}

{%block page_title%}
Manage Field Details
{% endblock%}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .active,
        .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    </style>
</head>

<body>
{% block content %}  
<div class="container-fluid">
    <!-- ./row -->
    <div class="row">
        <!-- ./col -->
        <div class="col-12">  
            <div class="card">                
                <div class="card-body">
                    
                <h3 class="text-center">{{company}}: <b>{{company.address}}</b></h3>
                
                    <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                        <tbody>
                            <tr>
                                <th >Company</th>
                                <td >
                                    {{company.name}}
                                    
                                </td>
                                
                            </tr>
                            <tr>
                                <th>Contact </th>
                                <td>{{company.contact_no}}</td>
                            </tr>
                            <tr>
                                <th>Village</th>
                                <td>{{company.village}}</td>
                            </tr>
                         
                            <tr>
                                <th>Address</th>
                                <td>{{company.address}}</td>
                            </tr> 
                            <tr>
                                <th>District</th>
                                <td>{{company.district}}</td>
                            </tr>   
                        </tbody>
                        
                    </table>
                    
                </div>
            </div>

            <div class="card">                
                <div class="card-body">
                    <div class="row">
                    <div class="col-5 col-sm-3">
                        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Branches</a>
                        <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Products</a>
                        <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Permits</a>
                        
                        <a class="nav-link" id="vert-tabs-messages-tabx" data-toggle="pill" href="#vert-tabs-messagesx" role="tab"
                            aria-controls="vert-tabs-messages" aria-selected="false">Gas</a>
                        <a class="nav-link" id="vert-tabs-settings-tabs" data-toggle="pill" href="#vert-tabs-settingss" role="tab"
                            aria-controls="vert-tabs-settings" aria-selected="false">Supplier</a>
                            <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab"
                                aria-controls="vert-tabs-settings" aria-selected="false">Employees</a>
                            <a class="nav-link" id="vert-tabs-attachments-tab" data-toggle="pill" href="#vert-tabs-attachments" role="tab"
                                aria-controls="vert-tabs-attachments" aria-selected="false">Attachments</a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <div class="tab-content" id="vert-tabs-tabContent">
                        <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-branch">
                            Add New Branch
                        </button>
                            {%if branches %}
                                
                                    <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Name</th> 
                                                <th class="text-center">Address</th>
                                                <th class="text-center">#</th>

                                            </tr>
                                            {% for branch in branches %}
                                            <tr>
                                                <td class="text-center">
                                                    {{branch.name}}
                                                </td>
                                                <td class="text-center">
                                                    {{branch.address}}
                                                </td>
                                                <td class="text-center">
                                                    <i class="fa fa-edit"></i>|
                                                    <i class="fa fa-trash"></i>
                                                </td>
                                            </tr>
                                            {% endfor %}   
                                        </tbody>
                                    </table>
                                {%else%}
                                    <h4>No Branch Available</h4>
                                {%endif%}</p>
                        </div>
                        
                        <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                            <button type="button"  class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-farm">
                                Add New Product
                            </button>
                        <br>
                            {%if products %}
                                
                                <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                    <tbody>
                                        <tr>
                                            <th class="text-center">Type</th> 
                                            <th class="text-center">Tank Details</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Stock</th>
                                            <th class="text-center">#</th>

                                        </tr>
                                        {% for product in products %}
                                        <tr>
                                            <td class="text-center">
                                                {{product.product_type}}
                                            </td>
                                            <td class="text-center">
                                                {{product.product_prices}}
                                            </td>
                                            <td class="text-center">
                                                {{product.tank_details}}
                                            </td>
                                          
                                            <td class="text-center">
                                                {{product.stock}}
                                            </td>
                                            <td class="text-center">
                                                <i class="fa fa-edit"></i>
                                                <i class="fa fa-trash"></i>
                                            </td>
                                        </tr>
                                        {% endfor %}   
                                    </tbody>
                                </table>
                                {%else%}
                                <h4>No Product Available</h4>
                                {%endif%}
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-permit">
                                Add New Permit
                            </button>
                            {%if permit %}
                            
                            <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                <tbody>
                                    <tr>
                                        <th class="text-center">Construction Permit</th>
                                        
                                        <th class="text-center">Operation Permit</th>
                                        <th class="text-center">TIN</th>
                                        <th class="text-center">#</th>
                            
                                    </tr>
                                    {% for permits in permit %}
                                    <tr>
                                        <td class="text-center">
                                            {{permits.construction_permit}}
                                        </td>
                                        <td class="text-center">
                                            {{permits.operation_permit}}
                                        </td>
                                        
                                        <td class="text-center">
                                            {{permits.TIN}}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-edit"></i>|
                                            <i class="fa fa-trash"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <h4>No Permit Available</h4>
                            {%endif%}
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-messagesx" role="tabpanel" aria-labelledby="vert-tabs-messages-tabx">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-gas">
                                Add New Gas
                            </button>
                            {%if gas %}
                        
                            <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                <tbody>
                                    <tr>
                                        <th class="text-center">LPG Description</th>
                        
                                        <th class="text-center">LPG Item</th>
                                        <th class="text-center">LPG Price</th>
                                        <th class="text-center">#</th>
                        
                                    </tr>
                                    {% for gases in gas %}
                                    <tr>
                                        <td class="text-center">
                                            {{gases.LPG_Description}}
                                        </td>
                                        <td class="text-center">
                                            {{gases.LPG_item}}
                                        </td>
                        
                                        <td class="text-center">
                                            {{gases.LPG_prices}}
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-edit"></i>|
                                            <i class="fa fa-trash"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <h4>No gas Available</h4>
                            {%endif%}
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-employee">
                                Add New Employee
                            </button>
                            {%if employee %}
                           
                            <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                <tbody>
                                    <tr>
                                        <th class="text-center">Male</th>
                            
                                        <th class="text-center">Female</th>
                                        
                            
                                    </tr>
                                    {% for employees in employee %}
                                    <tr>
                                        <td class="text-center">
                                            {{employees.male}}
                                        </td>
                                        <td class="text-center">
                                            {{employees.female}}
                                        </td>
                            
                                       
                                        <td class="text-center">
                                            <i class="fa fa-edit"></i>
                                            <i class="fa fa-trash"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <h4>No Employee Available</h4>
                            {%endif%}
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-settingss" role="tabpanel" aria-labelledby="vert-tabs-settings-tabs">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-supplier">
                                Add New Supplier
                            </button>
                            {%if supplier %}
                        
                            <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                                <tbody>
                                    <tr>
                                        <th class="text-center">Name</th>
                        
                                        <th class="text-center">Address</th>
                        
                        
                                    </tr>
                                    {% for suppliers in supplier %}
                                    <tr>
                                        <td class="text-center">
                                            {{suppliers.name}}
                                        </td>
                                        <td class="text-center">
                                            {{suppliers.address}}
                                        </td>
                        
                        
                                        <td class="text-center">
                                            <i class="fa fa-edit"></i>
                                            <i class="fa fa-trash"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {%else%}
                            <h4>No Supplier Available</h4>
                            {%endif%}
                        </div>
                    <div class="tab-pane fade" id="vert-tabs-attachments" role="tabpanel" aria-labelledby="vert-tabs-attachments-tab">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-add-attachment">
                            Add New Attachment
                        </button>
                        {%if attachment %}
                       
                        <table id="dataTables-example" class="table table-table-striped" data-page-length='100'>
                            <tbody>
                                <tr>
                                    <th class="text-center">Name</th>
                        
                                    <th class="text-center">Attachment</th>
                        
                        
                                </tr>
                                {% for attachments in attachment %}
                                <tr>
                                    <td class="text-center">
                                        {{attachments.name}}
                                    </td>
                                    <td class="text-center">
                                        {{attachments.attachment_file}}
                                    </td>
                        
                        
                                    <td class="text-center">
                                        <i class="fa fa-edit"></i>
                                        <i class="fa fa-trash"></i>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {%else%}
                        <h4>No Attachments Available</h4>
                        {%endif%}
                        </div>
                        </div>
                    </div>
                    
                  
                    </div>  
                   
                </div>
                
            </div>

        </div>
        
        <!-- /.col -->
    </div>
    <!-- /.row -->
    
</div>
<!-- model company product -->
<div class="modal fade" id="modal-add-farm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'manage_company_product' company.id %}">
                    {% csrf_token %}
                    {{ product_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company product -->
<!-- model company branch  -->
<div class="modal fade" id="modal-add-branch">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Branch</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data"
                    action="{% url 'manage_company_branch' company.id %}">
                    {% csrf_token %}
                    {{ branch_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company branch -->
<!-- model company permit  -->
<div class="modal fade" id="modal-add-permit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Permit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'manage_company_permit' company.id %}">
                    {% csrf_token %}
                    {{ permit_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company permit -->
<!-- model company empoyee  -->
<div class="modal fade" id="modal-add-employee">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'manage_company_employee' company.id %}">
                    {% csrf_token %}
                    {{ employee_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company employee -->
<!-- model company supplier -->
<div class="modal fade" id="modal-add-supplier">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Supplier</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data"
                    action="{% url 'manage_company_supplier' company.id %}">
                    {% csrf_token %}
                    {{ supplier_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company supplier -->
<!-- model company gas -->
<div class="modal fade" id="modal-add-gas">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Gas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data"
                    action="{% url 'manage_company_gas' company.id %}">
                    {% csrf_token %}
                    {{ gas_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company gas -->
<!-- model company attachment -->
<div class="modal fade" id="modal-add-attachment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Attachment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'manage_company_attachment' company.id %}">
                    {% csrf_token %}
                    {{ attachment_form|crispy }}
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- end model company attachment -->
<!-- /.container-fluid -->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock content %}
</body>

</html>
